

/* header menu navigation */
.menu-1a-wrapper {
	float: right;
	width: 55%;
}
.menu-1a-wrapper ul {
	margin: 0;
	padding: 0;
}
.menu-1a-wrapper ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	text-align: center;
	width: 25%;
}
.menu-1a-wrapper .search-wrapper {
	clear: both;
	text-align: right;
}
.menu-1a-wrapper .search-wrapper .search {
	padding-top: 1em;
}
.menu-1a-wrapper .search-wrapper input {
	border: 1px solid black;
	padding: 3px;
	width: 50%;
}
.menu-1a-wrapper .search-wrapper img {
	vertical-align: middle;
}

.menu-1b-wrapper {
	clear: both;
}
.menu-1b-wrapper ul {
	margin: 0;
	padding: 0;
}
.menu-1b-wrapper ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	text-align: center;
	width: 16%;
}


.menu-2 {
	display: none;
}

/* left column secondary nav all kinds of dropclickable */
.menu-3 {
	width: 22%;
	float: right;
}
.breadcrumb-wrapper {
	display: none;
	width: 65%;
	float: left;
	margin-right: 0;
}
.menu-wrapper .breadcrumb-wrapper {
	display: block;
}
.menu-3 .graybox {
	border: 0;
}
.menu-3 .dropclick-menu {
	background: transparent url(/images/dropclick.jpg) 100% 5px no-repeat;
	text-align: right;
}
.dropclickedmenu .dropclickmenu-display .keylinks h5 {
	text-align: left;
}
.dropclickedmenu .dropclickmenu-display ul {
	margin: 2%;
	padding: 0;
	float: left;
	width: 45%;
}
.dropclickedmenu .dropclickmenu-display ul ul {
	float: none;
	width: 100%;
}
.dropclickedmenu .dropclickmenu-display ul li {
	list-style-type: none;
	margin: 1% 0;
	padding: 0;
	text-align: left !important;
}



.layout-wrapper {
	clear: both;
}


/* housing slideshow */
.slideshow-housing-wrapper {
	position: relative;
}
.slideshow-housing {
	line-height: 0;
}
.slideshow-housing img {
	width: 100%;
	height: auto;
}
.slideshow-housing-text {
	position: absolute;
	width: 85%;
	left: 6.875%;
	bottom: 3.4375%;
	font-size: 400%;
	line-height: 1.25em;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

/* housing main content */
.main-content-wrapper p,
.main-content-wrapper h1 {
	margin: 3.4375% 6.875%;
}



/* housing content wrapper */
.content-wrapper {
	float: left;
	width: 65%;
}

.sublayout-wrapper {
	float: left;
	width: 74.454%;
}



/* action things */
.action-wrapper {
	float: right;
	width: 30%;
}

/* action buttons */
.applynow,
.open-house,
.app-stores,
.accolades,
.college-portrait {
	text-align: center;
}

/*
.right-column {
	border-top: 1px solid black;
	clear: both;
	margin: 3.4375% 6.875%;
	padding-top: 1em;
}
*/
.right-column {
	border-left: 1px solid black;
	padding-left: 2%;
	float: right;
	width: 22%;
}



.keylinks h5 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	margin: 1em;
}
.keylinks ul {
	margin: 0;
	padding: 0;
}
.keylinks ul li {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
