.graybox h3 {
	text-align: left;
}

.emergency {
	color: red;
}

.logo-wrapper {
	float: left;
	width: 38%;
	margin-right: 2%;
}
.logo {
	text-align: center;
	padding: 1em 0;
}


/* footer stuff */
.footer-wrapper {
	clear: both;
}
.footer {
	text-align: center;
	position: relative;
}

.footer-links {
	float: left;
	width: 50%;
}
.footer-links ul {
	margin: 0 auto;
	padding: 0;
}
.footer-links ul li {
	display: inline;
	text-align: center;
	border-right: 1px solid black;
	padding: 0 2%;
	list-style-type: none;
	margin: 0;
}
.footer-links ul li.last {
	border-right: 0;
}

.footer-connect {
	float: right;
	width: 50%;
}
.footer-connect h5 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
}
.footer-connect a {
	margin: 0 1%;
}
.footer-connect a img {
	width: 35px;
	height: auto;
}

.footer-info {
	float: left;
	width: 50%;
	margin-top: 55px;
}

.suny {
	float: right;
	margin: 25px;
}