body.admissions .menu-2 .menu-2b-wrapper {
	padding-bottom: 0;
	border-bottom: 0;
}

/* admissions recent posts */
.recent-posts-item {
	margin: 6.875%;
	border-bottom: 1px solid white;
	clear: both;
	position: relative;
}

.recent-posts-item .recent-posts-photo {
	width: 20.3125%;
	margin-right: 3.4375%;
}

.recent-posts-item .recent-posts-photo img {
	width: 100%;
	height: auto;
}

.recent-posts-item .recent-posts-text {
	position: absolute;
	bottom: 6.875%;
	left: 23.4375%;
}


/* featured video bonus content because you don't have enough to look at already */
.featured-video .admissions-fv-text,
.featured-video .admissions-fv-thumbs,
.featured-video .admissions-fv-icon-wrapper {
	width: 90%;
	margin: 2% auto;
}

.featured-video .admissions-fv-thumbs {
	height: 25px;
}
.featured-video .admissions-fv-thumb {
	float: left;
	width: 31%;
	height: 100%;
	background: white;
	border: 1px solid black;
	margin-right: 2%;
}
.featured-video .admissions-fv-thumb.last {
	margin-right: 0;
}

.featured-video .admissions-fv-icon-wrapper {
	clear: both;
}
.featured-video .admissions-fv-icon {
	float: left;
	margin-right: 3.4375%;
}