
/*
 * these are elements that appear EVERYWHERE regardless of "size"
 */


body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	line-height: 1.5em;
	font-family: Arial, sans-serif;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

a img {
	border: 0;
}


.emergency {
	border: 1px dotted red;
	background-color: #ffe5e6;
	color: black;
	text-align: center;
	padding: 1em;
}

.graybox {
	border: 1px solid black;
	background-color: #e5e5e5;
	padding: 1em;
	margin: 5px 0;
}

.graybox h3 {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.darkgraybox {
	border: 1px solid black;
	background-color: #b2b2b2;
	padding: 1em;
	margin: 5px 0;
}

.logo {
	text-align: center;
}
.logo img {
	max-width: 90%;
}

.dropclickedmenu .graybox {
	border: 0;
	background-color: transparent;
}
.dropclickedmenu .dropclickmenu-display {
	clear: both;
}

.dropclicked .dropclick-menu {
	text-transform: uppercase;
	background: transparent url(/images/dropclick.jpg) 5px 5px no-repeat;
	padding: 1% 28px;
	cursor: pointer;
}
.dropclicked .dropclick-items {
	display: none;
	border-top: 1px solid black;
	padding-top: 1em;
}


.recent-posts {
	background-image: url(/images/connect-facebook.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

.breadcrumb-wrapper {
	margin: 3.4375% 6.875%;;
}
.breadcrumb-wrapper .breadcrumb,
.breadcrumb-wrapper .breadcrumb a {
	display: inline;
	text-transform: uppercase;
	text-decoration: none;
}
.breadcrumb-wrapper .breadcrumb.last a {
	font-weight: bold;
}