
.logo {
	text-align: center;
}

/* footer garbage */
.footer {
	text-align: center;
}

.footer-links ul {
	margin: 0 auto;
	padding: 0;
}
.footer-links ul li {
	display: inline;
	text-align: center;
	border-right: 1px solid black;
	padding: 0 2%;
	list-style-type: none;
	margin: 0;
}
.footer-links ul li.last {
	border-right: 0;
}

.footer-connect {
	margin-top: 1em;
}

.footer-connect h5 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

.footer-connect a {
	margin: 0 2%;
}

.footer-info {
	margin: 1em;
}

