<div class="secondary-nav">
	<ul>
		<li><a href="#">Clubs &amp; Organizations</a></li>
		<li><a href="#">Student Association</a></li>
		<li><a href="#">Greek Life</a></li>
		<li class="open">
			<a href="#">Residential Life &amp; Housing</a>
			<ul>
				<li class="open">
					<a href="#">Housing Options</a>
					<ul>
						<li>- <a href="#">Quiet Section</a></li>
						<li>- <a href="#">First Year Experience (FYE)</a></li>
						<li>- <a href="#">Oneonta's Wilderness Living/Learning (OWLS)</a></li>
						<li>- <a href="#">"Making a Difference" (MAD)</a></li>
						<li>- <a href="#">Outdoor Resource Center</a></li>
					</ul>
				</li>
				<li><a href="#">Residence Halls</a></li>
				<li><a href="#">Student Leadership</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Staff Information</a></li>
			</ul>
		</li>
		<li><a href="#">Dining</a></li>
		<li><a href="#">Athletics</a></li>
		<li><a href="#">Volunteering</a></li>
	</ul>
</div>