<div class="lg graybox">
	<h3>Latest &amp; Greatest</h3>
	<div class="lg-items clearfix">
	<div class="lg-item">
		<div class="lg-photo">
			<img src="/images/whitebox.jpg" alt="image" />
		</div>
		<div class="lg-text">
			Skate ipsum dolor sit amet, fakie out bail handplant rails bone air 360 hang-up China Banks.
		</div>
	</div>
	<div class="lg-item">
		<div class="lg-photo">
			<img src="/images/whitebox.jpg" alt="image" />
		</div>
		<div class="lg-text">
			Kevin Harris ollie north goofy footed stoked melancholy cab flip late.
		</div>
	</div>
	<div class="lg-item last">
		<div class="lg-photo">
			<img src="/images/whitebox.jpg" alt="image" />
		</div>
		<div class="lg-text">
			G-turn layback sick 720 shinner Jerry Hsu tailslide switch.
		</div>
	</div>
	</div>
</div>