<div class="recent-posts graybox">
	<h3>Recent Posts</h3>
	<div class="recent-posts-items clearfix">
	<div class="recent-posts-item">
		<div class="recent-posts-photo">
			<img src="/images/whitebox.jpg" alt="image" />
		</div>
		<div class="recent-posts-text">
			Kickturn tail axle Primo slide fast plant locals.
		</div>
	</div>
	<div class="recent-posts-item">
		<div class="recent-posts-photo">
			<img src="/images/whitebox.jpg" alt="image" />
		</div>
		<div class="recent-posts-text">
			Late frontside slappy camel back downhill concave.
		</div>
	</div>
	<div class="recent-posts-item last">
		<div class="recent-posts-photo">
			<img src="/images/whitebox.jpg" alt="image" />
		</div>
		<div class="recent-posts-text">
			Vision regular footed tail Primo slide lip goofy footed griptape.
		</div>
	</div>
	</div>
</div>