<div class="secondary-nav">
	<ul>
		<li><a href="#">Clubs &amp; Organizations</a></li>
		<li><a href="#">Student Association</a></li>
		<li><a href="#">Greek Life</a></li>
		<li class="open">
			<a href="#">Residential Life &amp; Housing</a>
			<ul>
				<li><a href="#">Housing Options</a></li>
				<li><a href="#">Residence Halls</a></li>
				<li><a href="#">Student Leadership</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Staff Information</a></li>
			</ul>
		</li>
		<li><a href="#">Dining</a></li>
		<li><a href="#">Athletics</a></li>
		<li><a href="#">Volunteering</a></li>
	</ul>
</div>